.gymImg1 {

    /* border: 1px solid #cfa5a5; */
    margin-left: 30px;
    height: fit-content;
    filter: brightness(100px);


}

.heading {
    margin-top: 20px;
    margin-bottom: 22px;
    color: rgb(94, 94, 94);
    font-weight: bold;
    text-align: center;


}

.para {
    margin-top: 20px;
    margin-right:150px;
    font-family: 'Preahvihear';
    font-size: 16px;
}

.getStartedBtn {
    height: 20PX;
    margin-top: 10px;
    width: 800px;
    margin-left: 850px;

}